  <div class="w-[600px] m-8 flex mx-auto justify-center items-center mx-auto bg-white border-2 rounded-lg p-4 shadow-lg">
    <form [formGroup]="empleadoForm" (ngSubmit)="onSubmit()">
      <h1 class="mx-auto justify-center items-center flex font-bold mt-2">Alta de usuarios</h1>
      <div class="flex flex-wrap -mx-3 mb-0">
        <div class="w-full md:w-1/2 px-3">
          <div class="mt-3">
            <input class="w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" type="text" formControlName="nombreCompleto" placeholder="Ingresa tu nombre">
            <div *ngIf="empleadoForm.get('nombreCompleto')?.invalid && empleadoForm.get('nombreCompleto')?.touched">
              Nombre Completo es requerido
            </div>
          </div>
        </div>
        <div class="w-full md:w-1/2 px-3">
          <div class="mt-3">
            <input type="date" class="w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" formControlName="fechaNacimiento">
            <div *ngIf="empleadoForm.get('fechaNacimiento')?.invalid && empleadoForm.get('fechaNacimiento')?.touched">
              Fecha de Nacimiento es requerida
            </div>
          </div>
        </div>
        <div class="w-full md:w-1/2 px-3">
          <div class="mt-3">
            <input type="number" class="w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" formControlName="edad" placeholder="Ingresa tu edad">
            <div *ngIf="empleadoForm.get('edad')?.invalid && empleadoForm.get('edad')?.touched">
              Edad es requerida
            </div>
          </div>
        </div>
        <div class="w-full md:w-1/2 px-3">
          <div class="mt-3">
            <select class="w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" formControlName="tipoCargo">
              <option disabled selected value="">Cargo</option>
              <option value="Gerente">Gerente</option>
              <option value="Coordinador">Coordinador</option>
              <option value="Subdirector">Subdirector</option>
            </select>
            <div *ngIf="empleadoForm.get('tipoCargo')?.invalid && empleadoForm.get('tipoCargo')?.touched">
              Tipo de Cargo es requerido
            </div>
          </div>
        </div>  
      </div>
      <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 mt-3 px-4 rounded-full mx-auto flex">
        Guardar
      </button>
    </form>
  </div>
  

  <div>
    <input type="text" [(ngModel)]="searchTerm" (input)="onSearch()" placeholder="Buscar empleado" class="mt-0 flex mx-auto text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white">
  </div>
  <div *ngIf="paginatedEmpleados.length > 0; else noResults">
    
  </div>
  <ng-template #noResults>
    <p>No se encontraron empleados que coincidan con la búsqueda.</p>
  </ng-template>
  
  <div class="relative overflow-x-auto rounded w-full rounded-lg flex justify-center h-80">
    <table class="text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 bg-indigo-900 rounded-lg shadow-xl">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3 text-center">Nombre</th>
          <th scope="col" class="px-6 py-3 text-center">Fecha de Nacimiento</th>
          <th scope="col" class="px-6 py-3 text-center">Edad</th>
          <th scope="col" class="px-6 py-3 text-center">Estatus</th>
          <th scope="col" class="px-6 py-3 text-center">Cargo</th>
          <th scope="col" class="px-6 py-3 text-center">Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empleado of paginatedEmpleados">
          <td class="text-white text-center font-bold">
            <input [disabled]="!empleado.editando" [(ngModel)]="empleado.nombreCompleto" class="bg-transparent text-white font-bold text-center">
          </td>
          <td class="text-white text-center font-bold">{{ empleado.fechaNacimiento }}</td>
          <td class="text-white text-center font-bold">
            <input [disabled]="!empleado.editando" [(ngModel)]="empleado.edad" type="number" class="bg-transparent text-white font-bold text-center">
          </td>
          <td class="text-white text-center font-bold">{{ empleado.estatus }}</td>
          <td class="text-white text-center font-bold">{{ empleado.tipoCargo }}</td>
          <td class="text-white text-center">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold m-1 py-2 px-4 rounded" (click)="editarEmpleado(empleado)">Editar</button>
            <button class="bg-red-500 hover:bg-red-700 text-white font-bold m-1 py-2 px-4 rounded" (click)="eliminarEmpleado(empleado)">Eliminar</button>
            <button class="bg-green-500 hover:bg-green-700 text-white font-bold m-1 py-2 px-4 rounded" (click)="cambiarEstatus(empleado)">Cambiar Estatus</button>
          </td>
        </tr>
      </tbody>
    </table>
    
  </div>
  
  <div class="flex justify-center items-center mt-4">
    <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1" class="mr-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Anterior</button>
    <span class="mx-2">Página {{ currentPage }} de {{ totalPages }}</span>
    <button (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === totalPages" class="ml-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Siguiente</button>
  </div>
  